swagger: '2.0'
info:
    title: Tradovate API
    description: Tradovate API
    version: "1.0.0"
host: demo-api-d.tradovate.com
schemes:
    - https
basePath: /v1
consumes:
    - application/json
produces:
    - application/json
securityDefinitions:
    bearer_access_token:
        type: apiKey
        name: Authorization
        in: header
paths:
    /auth/accesstokenrequest:
        post:
            operationId: accessTokenRequest
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/AccessTokenRequest'
            tags:
                - Authentication
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/AccessTokenResponse'
    /auth/renewaccesstoken:
        get:
            operationId: renewAccessToken
            security:
                - bearer_access_token: []
            tags:
                - Authentication
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/AccessTokenResponse'
    /contract/deps:
        get:
            description: Retrieves all entities of Contract type related to ContractMaturity entity
            operationId: getOwnedContracts
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of ContractMaturity entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Contract'
    /contract/find:
        get:
            description: Retrieves an entity of Contract type by its name
            operationId: findContract
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Contract'
    /contract/getproductfeeparams:
        post:
            operationId: getProductFeeParams
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/GetProductFeeParams'
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ProductFeeParamsResponse'
    /contract/item:
        get:
            description: Retrieves an entity of Contract type by its id
            operationId: getContract
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Contract'
    /contract/items:
        get:
            description: Retrieves multiple entities of Contract type by its ids
            operationId: getContracts
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Contract'
    /contract/ldeps:
        get:
            description: Retrieves all entities of Contract type related to multiple entities of ContractMaturity type
            operationId: getOwnedContractsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of ContractMaturity entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Contract'
    /contract/rollcontract:
        post:
            operationId: rollContract
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/RollContract'
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/RollContractResponse'
    /contract/suggest:
        get:
            description: Retrieves entities of Contract type filtered by an occurrence of a text in one of its fields
            operationId: suggestContracts
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Contract'
    /contractGroup/find:
        get:
            description: Retrieves an entity of ContractGroup type by its name
            operationId: findContractGroup
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ContractGroup'
    /contractGroup/item:
        get:
            description: Retrieves an entity of ContractGroup type by its id
            operationId: getContractGroup
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ContractGroup'
    /contractGroup/items:
        get:
            description: Retrieves multiple entities of ContractGroup type by its ids
            operationId: getContractGroups
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ContractGroup'
    /contractGroup/list:
        get:
            description: Retrieves all entities of ContractGroup type
            operationId: getAllContractGroups
            security:
                - bearer_access_token: []
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ContractGroup'
    /contractGroup/suggest:
        get:
            description: Retrieves entities of ContractGroup type filtered by an occurrence of a text in one of its fields
            operationId: suggestContractGroups
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ContractGroup'
    /contractMaturity/deps:
        get:
            description: Retrieves all entities of ContractMaturity type related to Product entity
            operationId: getOwnedContractMaturities
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Product entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ContractMaturity'
    /contractMaturity/item:
        get:
            description: Retrieves an entity of ContractMaturity type by its id
            operationId: getContractMaturity
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ContractMaturity'
    /contractMaturity/items:
        get:
            description: Retrieves multiple entities of ContractMaturity type by its ids
            operationId: getContractMaturities
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ContractMaturity'
    /contractMaturity/ldeps:
        get:
            description: Retrieves all entities of ContractMaturity type related to multiple entities of Product type
            operationId: getOwnedContractMaturitiesBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Product entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ContractMaturity'
    /currency/find:
        get:
            description: Retrieves an entity of Currency type by its name
            operationId: findCurrency
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Currency'
    /currency/item:
        get:
            description: Retrieves an entity of Currency type by its id
            operationId: getCurrency
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Currency'
    /currency/items:
        get:
            description: Retrieves multiple entities of Currency type by its ids
            operationId: getCurrencies
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Currency'
    /currency/list:
        get:
            description: Retrieves all entities of Currency type
            operationId: getAllCurrencies
            security:
                - bearer_access_token: []
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Currency'
    /currency/suggest:
        get:
            description: Retrieves entities of Currency type filtered by an occurrence of a text in one of its fields
            operationId: suggestCurrencies
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Currency'
    /currencyRate/deps:
        get:
            description: Retrieves all entities of CurrencyRate type related to Currency entity
            operationId: getOwnedCurrencyRates
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Currency entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CurrencyRate'
    /currencyRate/item:
        get:
            description: Retrieves an entity of CurrencyRate type by its id
            operationId: getCurrencyRate
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/CurrencyRate'
    /currencyRate/items:
        get:
            description: Retrieves multiple entities of CurrencyRate type by its ids
            operationId: getCurrencyRates
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CurrencyRate'
    /currencyRate/ldeps:
        get:
            description: Retrieves all entities of CurrencyRate type related to multiple entities of Currency type
            operationId: getOwnedCurrencyRatesBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Currency entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CurrencyRate'
    /currencyRate/list:
        get:
            description: Retrieves all entities of CurrencyRate type
            operationId: getAllCurrencyRates
            security:
                - bearer_access_token: []
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CurrencyRate'
    /exchange/find:
        get:
            description: Retrieves an entity of Exchange type by its name
            operationId: findExchange
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Exchange'
    /exchange/item:
        get:
            description: Retrieves an entity of Exchange type by its id
            operationId: getExchange
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Exchange'
    /exchange/items:
        get:
            description: Retrieves multiple entities of Exchange type by its ids
            operationId: getExchanges
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Exchange'
    /exchange/list:
        get:
            description: Retrieves all entities of Exchange type
            operationId: getAllExchanges
            security:
                - bearer_access_token: []
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Exchange'
    /exchange/suggest:
        get:
            description: Retrieves entities of Exchange type filtered by an occurrence of a text in one of its fields
            operationId: suggestExchanges
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Exchange'
    /product/deps:
        get:
            description: Retrieves all entities of Product type related to Exchange entity
            operationId: getOwnedProducts
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Exchange entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Product'
    /product/find:
        get:
            description: Retrieves an entity of Product type by its name
            operationId: findProduct
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Product'
    /product/item:
        get:
            description: Retrieves an entity of Product type by its id
            operationId: getProduct
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Product'
    /product/items:
        get:
            description: Retrieves multiple entities of Product type by its ids
            operationId: getProducts
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Product'
    /product/ldeps:
        get:
            description: Retrieves all entities of Product type related to multiple entities of Exchange type
            operationId: getOwnedProductsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Exchange entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Product'
    /product/list:
        get:
            description: Retrieves all entities of Product type
            operationId: getAllProducts
            security:
                - bearer_access_token: []
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Product'
    /product/suggest:
        get:
            description: Retrieves entities of Product type filtered by an occurrence of a text in one of its fields
            operationId: suggestProducts
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Product'
    /productSession/deps:
        get:
            description: Retrieves all entities of ProductSession type related to Product entity
            operationId: getOwnedProductSessions
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Product entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ProductSession'
    /productSession/item:
        get:
            description: Retrieves an entity of ProductSession type by its id
            operationId: getProductSession
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ProductSession'
    /productSession/items:
        get:
            description: Retrieves multiple entities of ProductSession type by its ids
            operationId: getProductSessions
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ProductSession'
    /productSession/ldeps:
        get:
            description: Retrieves all entities of ProductSession type related to multiple entities of Product type
            operationId: getOwnedProductSessionsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Product entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ProductSession'
    /spreadDefinition/item:
        get:
            description: Retrieves an entity of SpreadDefinition type by its id
            operationId: getSpreadDefinition
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/SpreadDefinition'
    /spreadDefinition/items:
        get:
            description: Retrieves multiple entities of SpreadDefinition type by its ids
            operationId: getSpreadDefinitions
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/SpreadDefinition'
    /command/deps:
        get:
            description: Retrieves all entities of Command type related to Order entity
            operationId: getOwnedCommands
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Order entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Command'
    /command/item:
        get:
            description: Retrieves an entity of Command type by its id
            operationId: getCommand
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Command'
    /command/items:
        get:
            description: Retrieves multiple entities of Command type by its ids
            operationId: getCommands
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Command'
    /command/ldeps:
        get:
            description: Retrieves all entities of Command type related to multiple entities of Order type
            operationId: getOwnedCommandsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Order entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Command'
    /command/list:
        get:
            description: Retrieves all entities of Command type
            operationId: getAllCommands
            security:
                - bearer_access_token: []
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Command'
    /commandReport/deps:
        get:
            description: Retrieves all entities of CommandReport type related to Command entity
            operationId: getOwnedCommandReports
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Command entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CommandReport'
    /commandReport/item:
        get:
            description: Retrieves an entity of CommandReport type by its id
            operationId: getCommandReport
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/CommandReport'
    /commandReport/items:
        get:
            description: Retrieves multiple entities of CommandReport type by its ids
            operationId: getCommandReports
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CommandReport'
    /commandReport/ldeps:
        get:
            description: Retrieves all entities of CommandReport type related to multiple entities of Command type
            operationId: getOwnedCommandReportsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Command entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CommandReport'
    /commandReport/list:
        get:
            description: Retrieves all entities of CommandReport type
            operationId: getAllCommandReports
            security:
                - bearer_access_token: []
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CommandReport'
    /executionReport/deps:
        get:
            description: Retrieves all entities of ExecutionReport type related to Command entity
            operationId: getOwnedExecutionReports
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Command entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ExecutionReport'
    /executionReport/find:
        get:
            description: Retrieves an entity of ExecutionReport type by its name
            operationId: findExecutionReport
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ExecutionReport'
    /executionReport/item:
        get:
            description: Retrieves an entity of ExecutionReport type by its id
            operationId: getExecutionReport
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ExecutionReport'
    /executionReport/items:
        get:
            description: Retrieves multiple entities of ExecutionReport type by its ids
            operationId: getExecutionReports
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ExecutionReport'
    /executionReport/ldeps:
        get:
            description: Retrieves all entities of ExecutionReport type related to multiple entities of Command type
            operationId: getOwnedExecutionReportsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Command entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ExecutionReport'
    /executionReport/list:
        get:
            description: Retrieves all entities of ExecutionReport type
            operationId: getAllExecutionReports
            security:
                - bearer_access_token: []
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ExecutionReport'
    /executionReport/suggest:
        get:
            description: Retrieves entities of ExecutionReport type filtered by an occurrence of a text in one of its fields
            operationId: suggestExecutionReports
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ExecutionReport'
    /fill/deps:
        get:
            description: Retrieves all entities of Fill type related to Order entity
            operationId: getOwnedFills
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Order entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Fill'
    /fill/item:
        get:
            description: Retrieves an entity of Fill type by its id
            operationId: getFill
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Fill'
    /fill/items:
        get:
            description: Retrieves multiple entities of Fill type by its ids
            operationId: getFills
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Fill'
    /fill/ldeps:
        get:
            description: Retrieves all entities of Fill type related to multiple entities of Order type
            operationId: getOwnedFillsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Order entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Fill'
    /fill/list:
        get:
            description: Retrieves all entities of Fill type
            operationId: getAllFills
            security:
                - bearer_access_token: []
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Fill'
    /fillFee/deps:
        get:
            description: Retrieves all entities of FillFee type related to Fill entity
            operationId: getOwnedFillFees
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Fill entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/FillFee'
    /fillFee/item:
        get:
            description: Retrieves an entity of FillFee type by its id
            operationId: getFillFee
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/FillFee'
    /fillFee/items:
        get:
            description: Retrieves multiple entities of FillFee type by its ids
            operationId: getFillFees
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/FillFee'
    /fillFee/ldeps:
        get:
            description: Retrieves all entities of FillFee type related to multiple entities of Fill type
            operationId: getOwnedFillFeesBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Fill entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/FillFee'
    /fillFee/list:
        get:
            description: Retrieves all entities of FillFee type
            operationId: getAllFillFees
            security:
                - bearer_access_token: []
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/FillFee'
    /order/cancelorder:
        post:
            operationId: cancelOrder
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/CancelOrder'
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/CommandResult'
    /order/deps:
        get:
            description: Retrieves all entities of Order type related to Account entity
            operationId: getOwnedOrders
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Account entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Order'
    /order/item:
        get:
            description: Retrieves an entity of Order type by its id
            operationId: getOrder
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Order'
    /order/items:
        get:
            description: Retrieves multiple entities of Order type by its ids
            operationId: getOrders
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Order'
    /order/ldeps:
        get:
            description: Retrieves all entities of Order type related to multiple entities of Account type
            operationId: getOwnedOrdersBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Account entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Order'
    /order/liquidateposition:
        post:
            operationId: liquidatePosition
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/LiquidatePosition'
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/PlaceOrderResult'
    /order/list:
        get:
            description: Retrieves all entities of Order type
            operationId: getAllOrders
            security:
                - bearer_access_token: []
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Order'
    /order/modifyorder:
        post:
            operationId: modifyOrder
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/ModifyOrder'
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/CommandResult'
    /order/placeoco:
        post:
            operationId: placeOCO
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/PlaceOCO'
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/PlaceOcoResult'
    /order/placeorder:
        post:
            operationId: placeOrder
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/PlaceOrder'
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/PlaceOrderResult'
    /order/placeoso:
        post:
            operationId: placeOSO
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/PlaceOSO'
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/PlaceOsoResult'
    /orderStrategy/deps:
        get:
            description: Retrieves all entities of OrderStrategy type related to Account entity
            operationId: getOwnedOrderStrategies
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Account entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/OrderStrategy'
    /orderStrategy/interruptorderstrategy:
        post:
            operationId: interruptOrderStrategy
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/InterruptOrderStrategy'
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/OrderStrategyStatusResponse'
    /orderStrategy/item:
        get:
            description: Retrieves an entity of OrderStrategy type by its id
            operationId: getOrderStrategy
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/OrderStrategy'
    /orderStrategy/items:
        get:
            description: Retrieves multiple entities of OrderStrategy type by its ids
            operationId: getOrderStrategies
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/OrderStrategy'
    /orderStrategy/ldeps:
        get:
            description: Retrieves all entities of OrderStrategy type related to multiple entities of Account type
            operationId: getOwnedOrderStrategiesBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Account entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/OrderStrategy'
    /orderStrategy/list:
        get:
            description: Retrieves all entities of OrderStrategy type
            operationId: getAllOrderStrategies
            security:
                - bearer_access_token: []
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/OrderStrategy'
    /orderStrategy/modifyorderstrategy:
        post:
            operationId: modifyOrderStrategy
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/ModifyOrderStrategy'
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/OrderStrategyStatusResponse'
    /orderStrategy/startorderstrategy:
        post:
            operationId: startOrderStrategy
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StartOrderStrategy'
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/OrderStrategyStatusResponse'
    /orderStrategyLink/deps:
        get:
            description: Retrieves all entities of OrderStrategyLink type related to OrderStrategy entity
            operationId: getOwnedOrderStrategyLinks
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of OrderStrategy entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/OrderStrategyLink'
    /orderStrategyLink/item:
        get:
            description: Retrieves an entity of OrderStrategyLink type by its id
            operationId: getOrderStrategyLink
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/OrderStrategyLink'
    /orderStrategyLink/items:
        get:
            description: Retrieves multiple entities of OrderStrategyLink type by its ids
            operationId: getOrderStrategyLinks
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/OrderStrategyLink'
    /orderStrategyLink/ldeps:
        get:
            description: Retrieves all entities of OrderStrategyLink type related to multiple entities of OrderStrategy type
            operationId: getOwnedOrderStrategyLinksBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of OrderStrategy entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/OrderStrategyLink'
    /orderStrategyLink/list:
        get:
            description: Retrieves all entities of OrderStrategyLink type
            operationId: getAllOrderStrategyLinks
            security:
                - bearer_access_token: []
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/OrderStrategyLink'
    /orderVersion/deps:
        get:
            description: Retrieves all entities of OrderVersion type related to Order entity
            operationId: getOwnedOrderVersions
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Order entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/OrderVersion'
    /orderVersion/item:
        get:
            description: Retrieves an entity of OrderVersion type by its id
            operationId: getOrderVersion
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/OrderVersion'
    /orderVersion/items:
        get:
            description: Retrieves multiple entities of OrderVersion type by its ids
            operationId: getOrderVersions
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/OrderVersion'
    /orderVersion/ldeps:
        get:
            description: Retrieves all entities of OrderVersion type related to multiple entities of Order type
            operationId: getOwnedOrderVersionsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Order entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/OrderVersion'
    /orderVersion/list:
        get:
            description: Retrieves all entities of OrderVersion type
            operationId: getAllOrderVersions
            security:
                - bearer_access_token: []
            tags:
                - Orders
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/OrderVersion'
    /fillPair/deps:
        get:
            description: Retrieves all entities of FillPair type related to Position entity
            operationId: getOwnedFillPairs
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Position entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Positions
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/FillPair'
    /fillPair/item:
        get:
            description: Retrieves an entity of FillPair type by its id
            operationId: getFillPair
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Positions
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/FillPair'
    /fillPair/items:
        get:
            description: Retrieves multiple entities of FillPair type by its ids
            operationId: getFillPairs
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Positions
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/FillPair'
    /fillPair/ldeps:
        get:
            description: Retrieves all entities of FillPair type related to multiple entities of Position type
            operationId: getOwnedFillPairsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Position entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Positions
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/FillPair'
    /fillPair/list:
        get:
            description: Retrieves all entities of FillPair type
            operationId: getAllFillPairs
            security:
                - bearer_access_token: []
            tags:
                - Positions
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/FillPair'
    /position/deps:
        get:
            description: Retrieves all entities of Position type related to Account entity
            operationId: getOwnedPositions
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Account entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Positions
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Position'
    /position/find:
        get:
            description: Retrieves an entity of Position type by its name
            operationId: findPosition
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - Positions
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Position'
    /position/item:
        get:
            description: Retrieves an entity of Position type by its id
            operationId: getPosition
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Positions
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Position'
    /position/items:
        get:
            description: Retrieves multiple entities of Position type by its ids
            operationId: getPositions
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Positions
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Position'
    /position/ldeps:
        get:
            description: Retrieves all entities of Position type related to multiple entities of Account type
            operationId: getOwnedPositionsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Account entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Positions
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Position'
    /position/list:
        get:
            description: Retrieves all entities of Position type
            operationId: getAllPositions
            security:
                - bearer_access_token: []
            tags:
                - Positions
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Position'
    /account/deps:
        get:
            description: Retrieves all entities of Account type related to User entity
            operationId: getOwnedAccounts
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of User entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Account'
    /account/find:
        get:
            description: Retrieves an entity of Account type by its name
            operationId: findAccount
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Account'
    /account/item:
        get:
            description: Retrieves an entity of Account type by its id
            operationId: getAccount
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Account'
    /account/items:
        get:
            description: Retrieves multiple entities of Account type by its ids
            operationId: getAccounts
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Account'
    /account/ldeps:
        get:
            description: Retrieves all entities of Account type related to multiple entities of User type
            operationId: getOwnedAccountsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of User entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Account'
    /account/list:
        get:
            description: Retrieves all entities of Account type
            operationId: getAllAccounts
            security:
                - bearer_access_token: []
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Account'
    /account/suggest:
        get:
            description: Retrieves entities of Account type filtered by an occurrence of a text in one of its fields
            operationId: suggestAccounts
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Account'
    /cashBalance/deps:
        get:
            description: Retrieves all entities of CashBalance type related to Account entity
            operationId: getOwnedCashBalances
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Account entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CashBalance'
    /cashBalance/getcashbalancesnapshot:
        post:
            operationId: getCashBalanceSnapshot
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/GetCashBalanceSnapshot'
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/CashBalanceSnapshot'
    /cashBalance/item:
        get:
            description: Retrieves an entity of CashBalance type by its id
            operationId: getCashBalance
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/CashBalance'
    /cashBalance/items:
        get:
            description: Retrieves multiple entities of CashBalance type by its ids
            operationId: getCashBalances
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CashBalance'
    /cashBalance/ldeps:
        get:
            description: Retrieves all entities of CashBalance type related to multiple entities of Account type
            operationId: getOwnedCashBalancesBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Account entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CashBalance'
    /cashBalance/list:
        get:
            description: Retrieves all entities of CashBalance type
            operationId: getAllCashBalances
            security:
                - bearer_access_token: []
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CashBalance'
    /cashBalanceLog/deps:
        get:
            description: Retrieves all entities of CashBalanceLog type related to Account entity
            operationId: getOwnedCashBalanceLogs
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Account entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CashBalanceLog'
    /cashBalanceLog/item:
        get:
            description: Retrieves an entity of CashBalanceLog type by its id
            operationId: getCashBalanceLog
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/CashBalanceLog'
    /cashBalanceLog/items:
        get:
            description: Retrieves multiple entities of CashBalanceLog type by its ids
            operationId: getCashBalanceLogs
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CashBalanceLog'
    /cashBalanceLog/ldeps:
        get:
            description: Retrieves all entities of CashBalanceLog type related to multiple entities of Account type
            operationId: getOwnedCashBalanceLogsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Account entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CashBalanceLog'
    /marginSnapshot/deps:
        get:
            description: Retrieves all entities of MarginSnapshot type related to Account entity
            operationId: getOwnedMarginSnapshots
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Account entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/MarginSnapshot'
    /marginSnapshot/item:
        get:
            description: Retrieves an entity of MarginSnapshot type by its id
            operationId: getMarginSnapshot
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/MarginSnapshot'
    /marginSnapshot/items:
        get:
            description: Retrieves multiple entities of MarginSnapshot type by its ids
            operationId: getMarginSnapshots
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/MarginSnapshot'
    /marginSnapshot/ldeps:
        get:
            description: Retrieves all entities of MarginSnapshot type related to multiple entities of Account type
            operationId: getOwnedMarginSnapshotsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Account entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/MarginSnapshot'
    /marginSnapshot/list:
        get:
            description: Retrieves all entities of MarginSnapshot type
            operationId: getAllMarginSnapshots
            security:
                - bearer_access_token: []
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/MarginSnapshot'
    /tradingPermission/deps:
        get:
            description: Retrieves all entities of TradingPermission type related to User entity
            operationId: getOwnedTradingPermissions
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of User entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/TradingPermission'
    /tradingPermission/item:
        get:
            description: Retrieves an entity of TradingPermission type by its id
            operationId: getTradingPermission
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/TradingPermission'
    /tradingPermission/items:
        get:
            description: Retrieves multiple entities of TradingPermission type by its ids
            operationId: getTradingPermissions
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/TradingPermission'
    /tradingPermission/ldeps:
        get:
            description: Retrieves all entities of TradingPermission type related to multiple entities of User type
            operationId: getOwnedTradingPermissionsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of User entities
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/TradingPermission'
    /tradingPermission/list:
        get:
            description: Retrieves all entities of TradingPermission type
            operationId: getAllTradingPermissions
            security:
                - bearer_access_token: []
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/TradingPermission'
    /contractMargin/deps:
        get:
            description: Retrieves all entities of ContractMargin type related to Contract entity
            operationId: getOwnedContractMargins
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Contract entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Risks
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ContractMargin'
    /contractMargin/item:
        get:
            description: Retrieves an entity of ContractMargin type by its id
            operationId: getContractMargin
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Risks
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ContractMargin'
    /contractMargin/items:
        get:
[...]
