swagger: '2.0'
info:
    title: Tradovate API
    description: Tradovate API
    version: "1.0.0"
host: live-api-d.tradovate.com
schemes:
    - https
basePath: /v1
consumes:
    - application/json
produces:
    - application/json
securityDefinitions:
    bearer_access_token:
        type: apiKey
        name: Authorization
        in: header
paths:
    /auth/renewaccesstoken:
        get:
            operationId: renewAccessToken
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/RenewAccessToken'
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/AccessTokenResponse'
    /account/deps:
        get:
            description: Returns all entities of Account type related to User type
            operationId: getOwnedAccounts
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of User entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Account'
    /account/find:
        get:
            description: Finds an entity of Account type by its name
            operationId: findAccount
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Account'
    /account/item:
        get:
            description: Finds an entity of Account type by its id
            operationId: getAccount
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Account'
    /account/items:
        get:
            description: Finds multiple entities of Account type by its ids
            operationId: getAccounts
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Account'
    /account/ldeps:
        get:
            description: Returns all entities of Account type related to multiple entities of User type
            operationId: getOwnedAccountsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of User entity
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Account'
    /account/list:
        get:
            description: Returns all entities of Account type
            operationId: getAllAccounts
            security:
                - bearer_access_token: []
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Account'
    /account/suggest:
        get:
            description: Returns entities of Account type filtered by occurence of a text in one of its fields
            operationId: suggestAccounts
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Account'
    /cashBalanceLog/deps:
        get:
            description: Returns all entities of CashBalanceLog type related to Account type
            operationId: getOwnedCashBalanceLogs
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Account entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CashBalanceLog'
    /cashBalanceLog/item:
        get:
            description: Finds an entity of CashBalanceLog type by its id
            operationId: getCashBalanceLog
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/CashBalanceLog'
    /cashBalanceLog/items:
        get:
            description: Finds multiple entities of CashBalanceLog type by its ids
            operationId: getCashBalanceLogs
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CashBalanceLog'
    /cashBalanceLog/ldeps:
        get:
            description: Returns all entities of CashBalanceLog type related to multiple entities of Account type
            operationId: getOwnedCashBalanceLogsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Account entity
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CashBalanceLog'
    /cashBalanceLog/list:
        get:
            description: Returns all entities of CashBalanceLog type
            operationId: getAllCashBalanceLogs
            security:
                - bearer_access_token: []
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CashBalanceLog'
    /cashBalance/changedemobalance:
        post:
            operationId: changeDemoBalance
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/ChangeDemoBalance'
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/CashBalanceSnapshot'
    /cashBalance/deps:
        get:
            description: Returns all entities of CashBalance type related to Account type
            operationId: getOwnedCashBalances
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Account entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CashBalance'
    /cashBalance/getcashbalancesnapshot:
        post:
            operationId: getCashBalanceSnapshot
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/GetCashBalanceSnapshot'
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/CashBalanceSnapshot'
    /cashBalance/item:
        get:
            description: Finds an entity of CashBalance type by its id
            operationId: getCashBalance
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/CashBalance'
    /cashBalance/items:
        get:
            description: Finds multiple entities of CashBalance type by its ids
            operationId: getCashBalances
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CashBalance'
    /cashBalance/ldeps:
        get:
            description: Returns all entities of CashBalance type related to multiple entities of Account type
            operationId: getOwnedCashBalancesBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Account entity
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CashBalance'
    /cashBalance/list:
        get:
            description: Returns all entities of CashBalance type
            operationId: getAllCashBalances
            security:
                - bearer_access_token: []
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CashBalance'
    /marginSnapshot/deps:
        get:
            description: Returns all entities of MarginSnapshot type related to Account type
            operationId: getOwnedMarginSnapshots
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Account entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/MarginSnapshot'
    /marginSnapshot/item:
        get:
            description: Finds an entity of MarginSnapshot type by its id
            operationId: getMarginSnapshot
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/MarginSnapshot'
    /marginSnapshot/items:
        get:
            description: Finds multiple entities of MarginSnapshot type by its ids
            operationId: getMarginSnapshots
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/MarginSnapshot'
    /marginSnapshot/ldeps:
        get:
            description: Returns all entities of MarginSnapshot type related to multiple entities of Account type
            operationId: getOwnedMarginSnapshotsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Account entity
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/MarginSnapshot'
    /marginSnapshot/list:
        get:
            description: Returns all entities of MarginSnapshot type
            operationId: getAllMarginSnapshots
            security:
                - bearer_access_token: []
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/MarginSnapshot'
    /tradingPermission/deps:
        get:
            description: Returns all entities of TradingPermission type related to User type
            operationId: getOwnedTradingPermissions
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of User entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/TradingPermission'
    /tradingPermission/item:
        get:
            description: Finds an entity of TradingPermission type by its id
            operationId: getTradingPermission
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/TradingPermission'
    /tradingPermission/items:
        get:
            description: Finds multiple entities of TradingPermission type by its ids
            operationId: getTradingPermissions
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/TradingPermission'
    /tradingPermission/ldeps:
        get:
            description: Returns all entities of TradingPermission type related to multiple entities of User type
            operationId: getOwnedTradingPermissionsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of User entity
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/TradingPermission'
    /tradingPermission/list:
        get:
            description: Returns all entities of TradingPermission type
            operationId: getAllTradingPermissions
            security:
                - bearer_access_token: []
            tags:
                - Accounting
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/TradingPermission'
    /adminAlertSignal/completealertsignal:
        post:
            operationId: completeAlertSignal
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/CompleteAlertSignal'
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/AdminAlertSignalResponse'
    /adminAlertSignal/deps:
        get:
            description: Returns all entities of AdminAlertSignal type related to AdminAlert type
            operationId: getOwnedAdminAlertSignals
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of AdminAlert entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/AdminAlertSignal'
    /adminAlertSignal/item:
        get:
            description: Finds an entity of AdminAlertSignal type by its id
            operationId: getAdminAlertSignal
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/AdminAlertSignal'
    /adminAlertSignal/items:
        get:
            description: Finds multiple entities of AdminAlertSignal type by its ids
            operationId: getAdminAlertSignals
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/AdminAlertSignal'
    /adminAlertSignal/ldeps:
        get:
            description: Returns all entities of AdminAlertSignal type related to multiple entities of AdminAlert type
            operationId: getOwnedAdminAlertSignalsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of AdminAlert entity
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/AdminAlertSignal'
    /adminAlertSignal/list:
        get:
            description: Returns all entities of AdminAlertSignal type
            operationId: getAllAdminAlertSignals
            security:
                - bearer_access_token: []
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/AdminAlertSignal'
    /adminAlertSignal/takealertsignalownership:
        post:
            operationId: takeAlertSignalOwnership
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/TakeAlertSignalOwnership'
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/AdminAlertSignalResponse'
    /alertSignal/deps:
        get:
            description: Returns all entities of AlertSignal type related to Alert type
            operationId: getOwnedAlertSignals
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Alert entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/AlertSignal'
    /alertSignal/item:
        get:
            description: Finds an entity of AlertSignal type by its id
            operationId: getAlertSignal
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/AlertSignal'
    /alertSignal/items:
        get:
            description: Finds multiple entities of AlertSignal type by its ids
            operationId: getAlertSignals
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/AlertSignal'
    /alertSignal/ldeps:
        get:
            description: Returns all entities of AlertSignal type related to multiple entities of Alert type
            operationId: getOwnedAlertSignalsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Alert entity
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/AlertSignal'
    /alertSignal/list:
        get:
            description: Returns all entities of AlertSignal type
            operationId: getAllAlertSignals
            security:
                - bearer_access_token: []
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/AlertSignal'
    /alert/createalert:
        post:
            operationId: createAlert
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/CreateAlert'
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/AlertResponse'
    /alert/deletealert:
        post:
            operationId: deleteAlert
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/DeleteAlert'
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/AlertResponse'
    /alert/deps:
        get:
            description: Returns all entities of Alert type related to User type
            operationId: getOwnedAlerts
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of User entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Alert'
    /alert/dismissalert:
        post:
            operationId: dismissAlert
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/DismissAlert'
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/AlertResponse'
    /alert/item:
        get:
            description: Finds an entity of Alert type by its id
            operationId: getAlert
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Alert'
    /alert/items:
        get:
            description: Finds multiple entities of Alert type by its ids
            operationId: getAlerts
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Alert'
    /alert/ldeps:
        get:
            description: Returns all entities of Alert type related to multiple entities of User type
            operationId: getOwnedAlertsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of User entity
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Alert'
    /alert/list:
        get:
            description: Returns all entities of Alert type
            operationId: getAllAlerts
            security:
                - bearer_access_token: []
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Alert'
    /alert/markreadalertsignal:
        post:
            operationId: markReadAlertSignal
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/MarkReadAlertSignal'
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/AlertResponse'
    /alert/modifyalert:
        post:
            operationId: modifyAlert
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/ModifyAlert'
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/AlertResponse'
    /alert/resetalert:
        post:
            operationId: resetAlert
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/ResetAlert'
            tags:
                - Alerts
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/AlertResponse'
    /auth/accesstokenrequest:
        post:
            operationId: accessTokenRequest
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/AccessTokenRequest'
            tags:
                - Authentication
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/AccessTokenResponse'
    /chatMessage/deps:
        get:
            description: Returns all entities of ChatMessage type related to Chat type
            operationId: getOwnedChatMessages
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Chat entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Chat
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ChatMessage'
    /chatMessage/item:
        get:
            description: Finds an entity of ChatMessage type by its id
            operationId: getChatMessage
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Chat
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ChatMessage'
    /chatMessage/items:
        get:
            description: Finds multiple entities of ChatMessage type by its ids
            operationId: getChatMessages
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Chat
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ChatMessage'
    /chatMessage/ldeps:
        get:
            description: Returns all entities of ChatMessage type related to multiple entities of Chat type
            operationId: getOwnedChatMessagesBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Chat entity
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Chat
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ChatMessage'
    /chat/closechat:
        post:
            operationId: closeChat
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/CloseChat'
            tags:
                - Chat
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ChatResponse'
    /chat/deps:
        get:
            description: Returns all entities of Chat type related to User type
            operationId: getOwnedChats
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of User entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Chat
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Chat'
    /chat/item:
        get:
            description: Finds an entity of Chat type by its id
            operationId: getChat
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Chat
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Chat'
    /chat/items:
        get:
            description: Finds multiple entities of Chat type by its ids
            operationId: getChats
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Chat
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Chat'
    /chat/ldeps:
        get:
            description: Returns all entities of Chat type related to multiple entities of User type
            operationId: getOwnedChatsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of User entity
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Chat
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Chat'
    /chat/list:
        get:
            description: Returns all entities of Chat type
            operationId: getAllChats
            security:
                - bearer_access_token: []
            tags:
                - Chat
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Chat'
    /chat/markasreadchatmessage:
        post:
            operationId: markAsReadChatMessage
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/MarkAsReadChatMessage'
            tags:
                - Chat
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ChatMessageResponse'
    /chat/postchatmessage:
        post:
            operationId: postChatMessage
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/PostChatMessage'
            tags:
                - Chat
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ChatMessageResponse'
    /adminAlert/find:
        get:
            description: Finds an entity of AdminAlert type by its name
            operationId: findAdminAlert
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/AdminAlert'
    /adminAlert/item:
        get:
            description: Finds an entity of AdminAlert type by its id
            operationId: getAdminAlert
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/AdminAlert'
    /adminAlert/items:
        get:
            description: Finds multiple entities of AdminAlert type by its ids
            operationId: getAdminAlerts
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/AdminAlert'
    /adminAlert/list:
        get:
            description: Returns all entities of AdminAlert type
            operationId: getAllAdminAlerts
            security:
                - bearer_access_token: []
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/AdminAlert'
    /adminAlert/suggest:
        get:
            description: Returns entities of AdminAlert type filtered by occurence of a text in one of its fields
            operationId: suggestAdminAlerts
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/AdminAlert'
    /clearingHouse/find:
        get:
            description: Finds an entity of ClearingHouse type by its name
            operationId: findClearingHouse
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ClearingHouse'
    /clearingHouse/item:
        get:
            description: Finds an entity of ClearingHouse type by its id
            operationId: getClearingHouse
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ClearingHouse'
    /clearingHouse/items:
        get:
            description: Finds multiple entities of ClearingHouse type by its ids
            operationId: getClearingHouses
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ClearingHouse'
    /clearingHouse/list:
        get:
            description: Returns all entities of ClearingHouse type
            operationId: getAllClearingHouses
            security:
                - bearer_access_token: []
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ClearingHouse'
    /clearingHouse/suggest:
        get:
            description: Returns entities of ClearingHouse type filtered by occurence of a text in one of its fields
            operationId: suggestClearingHouses
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ClearingHouse'
    /entitlement/item:
        get:
            description: Finds an entity of Entitlement type by its id
            operationId: getEntitlement
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Entitlement'
    /entitlement/items:
        get:
            description: Finds multiple entities of Entitlement type by its ids
            operationId: getEntitlements
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Entitlement'
    /entitlement/list:
        get:
            description: Returns all entities of Entitlement type
            operationId: getAllEntitlements
            security:
                - bearer_access_token: []
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Entitlement'
    /orderStrategyType/find:
        get:
            description: Finds an entity of OrderStrategyType type by its name
            operationId: findOrderStrategyType
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/OrderStrategyType'
    /orderStrategyType/item:
        get:
            description: Finds an entity of OrderStrategyType type by its id
            operationId: getOrderStrategyType
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/OrderStrategyType'
    /orderStrategyType/items:
        get:
            description: Finds multiple entities of OrderStrategyType type by its ids
            operationId: getOrderStrategyTypes
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/OrderStrategyType'
    /orderStrategyType/list:
        get:
            description: Returns all entities of OrderStrategyType type
            operationId: getAllOrderStrategyTypes
            security:
                - bearer_access_token: []
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/OrderStrategyType'
    /orderStrategyType/suggest:
        get:
            description: Returns entities of OrderStrategyType type filtered by occurence of a text in one of its fields
            operationId: suggestOrderStrategyTypes
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/OrderStrategyType'
    /property/find:
        get:
            description: Finds an entity of Property type by its name
            operationId: findProperty
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Property'
    /property/item:
        get:
            description: Finds an entity of Property type by its id
            operationId: getProperty
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Property'
    /property/items:
        get:
            description: Finds multiple entities of Property type by its ids
            operationId: getProperties
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Property'
    /property/list:
        get:
            description: Returns all entities of Property type
            operationId: getAllProperties
            security:
                - bearer_access_token: []
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Property'
    /property/suggest:
        get:
            description: Returns entities of Property type filtered by occurence of a text in one of its fields
            operationId: suggestProperties
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
            tags:
                - Configuration
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Property'
    /contractGroup/find:
        get:
            description: Finds an entity of ContractGroup type by its name
            operationId: findContractGroup
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ContractGroup'
    /contractGroup/item:
        get:
            description: Finds an entity of ContractGroup type by its id
            operationId: getContractGroup
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ContractGroup'
    /contractGroup/items:
        get:
            description: Finds multiple entities of ContractGroup type by its ids
            operationId: getContractGroups
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ContractGroup'
    /contractGroup/list:
        get:
            description: Returns all entities of ContractGroup type
            operationId: getAllContractGroups
            security:
                - bearer_access_token: []
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ContractGroup'
    /contractGroup/suggest:
        get:
            description: Returns entities of ContractGroup type filtered by occurence of a text in one of its fields
            operationId: suggestContractGroups
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ContractGroup'
    /contractMaturity/deps:
        get:
            description: Returns all entities of ContractMaturity type related to Product type
            operationId: getOwnedContractMaturities
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Product entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ContractMaturity'
    /contractMaturity/item:
        get:
            description: Finds an entity of ContractMaturity type by its id
            operationId: getContractMaturity
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ContractMaturity'
    /contractMaturity/items:
        get:
            description: Finds multiple entities of ContractMaturity type by its ids
            operationId: getContractMaturities
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ContractMaturity'
    /contractMaturity/ldeps:
        get:
            description: Returns all entities of ContractMaturity type related to multiple entities of Product type
            operationId: getOwnedContractMaturitiesBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Product entity
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ContractMaturity'
    /contract/deps:
        get:
            description: Returns all entities of Contract type related to ContractMaturity type
            operationId: getOwnedContracts
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of ContractMaturity entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Contract'
    /contract/find:
        get:
            description: Finds an entity of Contract type by its name
            operationId: findContract
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Contract'
    /contract/getproductfeeparams:
        post:
            operationId: getProductFeeParams
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/GetProductFeeParams'
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ProductFeeParamsResponse'
    /contract/item:
        get:
            description: Finds an entity of Contract type by its id
            operationId: getContract
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Contract'
    /contract/items:
        get:
            description: Finds multiple entities of Contract type by its ids
            operationId: getContracts
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Contract'
    /contract/ldeps:
        get:
            description: Returns all entities of Contract type related to multiple entities of ContractMaturity type
            operationId: getOwnedContractsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of ContractMaturity entity
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Contract'
    /contract/rollcontract:
        post:
            operationId: rollContract
            security:
                - bearer_access_token: []
            parameters:
                - name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/RollContract'
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/RollContractResponse'
    /contract/suggest:
        get:
            description: Returns entities of Contract type filtered by occurence of a text in one of its fields
            operationId: suggestContracts
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Contract'
    /currencyRate/deps:
        get:
            description: Returns all entities of CurrencyRate type related to Currency type
            operationId: getOwnedCurrencyRates
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Currency entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CurrencyRate'
    /currencyRate/item:
        get:
            description: Finds an entity of CurrencyRate type by its id
            operationId: getCurrencyRate
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/CurrencyRate'
    /currencyRate/items:
        get:
            description: Finds multiple entities of CurrencyRate type by its ids
            operationId: getCurrencyRates
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CurrencyRate'
    /currencyRate/ldeps:
        get:
            description: Returns all entities of CurrencyRate type related to multiple entities of Currency type
            operationId: getOwnedCurrencyRatesBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Currency entity
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CurrencyRate'
    /currencyRate/list:
        get:
            description: Returns all entities of CurrencyRate type
            operationId: getAllCurrencyRates
            security:
                - bearer_access_token: []
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/CurrencyRate'
    /currency/find:
        get:
            description: Finds an entity of Currency type by its name
            operationId: findCurrency
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Currency'
    /currency/item:
        get:
            description: Finds an entity of Currency type by its id
            operationId: getCurrency
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Currency'
    /currency/items:
        get:
            description: Finds multiple entities of Currency type by its ids
            operationId: getCurrencies
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Currency'
    /currency/list:
        get:
            description: Returns all entities of Currency type
            operationId: getAllCurrencies
            security:
                - bearer_access_token: []
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Currency'
    /currency/suggest:
        get:
            description: Returns entities of Currency type filtered by occurence of a text in one of its fields
            operationId: suggestCurrencies
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Currency'
    /exchange/find:
        get:
            description: Finds an entity of Exchange type by its name
            operationId: findExchange
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Exchange'
    /exchange/item:
        get:
            description: Finds an entity of Exchange type by its id
            operationId: getExchange
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Exchange'
    /exchange/items:
        get:
            description: Finds multiple entities of Exchange type by its ids
            operationId: getExchanges
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Exchange'
    /exchange/list:
        get:
            description: Returns all entities of Exchange type
            operationId: getAllExchanges
            security:
                - bearer_access_token: []
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Exchange'
    /exchange/suggest:
        get:
            description: Returns entities of Exchange type filtered by occurence of a text in one of its fields
            operationId: suggestExchanges
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Exchange'
    /productSession/deps:
        get:
            description: Returns all entities of ProductSession type related to Product type
            operationId: getOwnedProductSessions
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Product entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ProductSession'
    /productSession/item:
        get:
            description: Finds an entity of ProductSession type by its id
            operationId: getProductSession
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/ProductSession'
    /productSession/items:
        get:
            description: Finds multiple entities of ProductSession type by its ids
            operationId: getProductSessions
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ProductSession'
    /productSession/ldeps:
        get:
            description: Returns all entities of ProductSession type related to multiple entities of Product type
            operationId: getOwnedProductSessionsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Product entity
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/ProductSession'
    /product/deps:
        get:
            description: Returns all entities of Product type related to Exchange type
            operationId: getOwnedProducts
            security:
                - bearer_access_token: []
            parameters:
                - name: masterid
                  description: id of Exchange entity
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Product'
    /product/find:
        get:
            description: Finds an entity of Product type by its name
            operationId: findProduct
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Product'
    /product/item:
        get:
            description: Finds an entity of Product type by its id
            operationId: getProduct
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/Product'
    /product/items:
        get:
            description: Finds multiple entities of Product type by its ids
            operationId: getProducts
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Product'
    /product/ldeps:
        get:
            description: Returns all entities of Product type related to multiple entities of Exchange type
            operationId: getOwnedProductsBatch
            security:
                - bearer_access_token: []
            parameters:
                - name: masterids
                  description: ids of Exchange entity
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Product'
    /product/list:
        get:
            description: Returns all entities of Product type
            operationId: getAllProducts
            security:
                - bearer_access_token: []
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Product'
    /product/suggest:
        get:
            description: Returns entities of Product type filtered by occurence of a text in one of its fields
            operationId: suggestProducts
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Product'
    /spreadDefinition/item:
        get:
            description: Finds an entity of SpreadDefinition type by its id
            operationId: getSpreadDefinition
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/SpreadDefinition'
    /spreadDefinition/items:
        get:
            description: Finds multiple entities of SpreadDefinition type by its ids
            operationId: getSpreadDefinitions
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - ContractLibrary
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/SpreadDefinition'
    /marketDataSubscriptionExchangeScope/find:
        get:
            description: Finds an entity of MarketDataSubscriptionExchangeScope type by its name
            operationId: findMarketDataSubscriptionExchangeScope
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - Fees
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/MarketDataSubscriptionExchangeScope'
    /marketDataSubscriptionExchangeScope/item:
        get:
            description: Finds an entity of MarketDataSubscriptionExchangeScope type by its id
            operationId: getMarketDataSubscriptionExchangeScope
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Fees
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/MarketDataSubscriptionExchangeScope'
    /marketDataSubscriptionExchangeScope/items:
        get:
            description: Finds multiple entities of MarketDataSubscriptionExchangeScope type by its ids
            operationId: getMarketDataSubscriptionExchangeScopes
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Fees
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/MarketDataSubscriptionExchangeScope'
    /marketDataSubscriptionExchangeScope/list:
        get:
            description: Returns all entities of MarketDataSubscriptionExchangeScope type
            operationId: getAllMarketDataSubscriptionExchangeScopes
            security:
                - bearer_access_token: []
            tags:
                - Fees
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/MarketDataSubscriptionExchangeScope'
    /marketDataSubscriptionExchangeScope/suggest:
        get:
            description: Returns entities of MarketDataSubscriptionExchangeScope type filtered by occurence of a text in one of its fields
            operationId: suggestMarketDataSubscriptionExchangeScopes
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
            tags:
                - Fees
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/MarketDataSubscriptionExchangeScope'
    /marketDataSubscriptionPlan/find:
        get:
            description: Finds an entity of MarketDataSubscriptionPlan type by its name
            operationId: findMarketDataSubscriptionPlan
            security:
                - bearer_access_token: []
            parameters:
                - name: name
                  in: query
                  required: true
                  type: string
            tags:
                - Fees
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/MarketDataSubscriptionPlan'
    /marketDataSubscriptionPlan/item:
        get:
            description: Finds an entity of MarketDataSubscriptionPlan type by its id
            operationId: getMarketDataSubscriptionPlan
            security:
                - bearer_access_token: []
            parameters:
                - name: id
                  in: query
                  required: true
                  type: integer
                  format: int32
            tags:
                - Fees
            responses:
                200: 
                    description: See definition
                    schema:
                        $ref: '#/definitions/MarketDataSubscriptionPlan'
    /marketDataSubscriptionPlan/items:
        get:
            description: Finds multiple entities of MarketDataSubscriptionPlan type by its ids
            operationId: getMarketDataSubscriptionPlans
            security:
                - bearer_access_token: []
            parameters:
                - name: ids
                  in: query
                  required: true
                  type: array
                  items:
                    type: integer
                  collectionFormat: csv
            tags:
                - Fees
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/MarketDataSubscriptionPlan'
    /marketDataSubscriptionPlan/list:
        get:
            description: Returns all entities of MarketDataSubscriptionPlan type
            operationId: getAllMarketDataSubscriptionPlans
            security:
                - bearer_access_token: []
            tags:
                - Fees
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/MarketDataSubscriptionPlan'
    /marketDataSubscriptionPlan/suggest:
        get:
            description: Returns entities of MarketDataSubscriptionPlan type filtered by occurence of a text in one of its fields
            operationId: suggestMarketDataSubscriptionPlans
            security:
                - bearer_access_token: []
            parameters:
                - name: t
                  description: Text
                  in: query
                  required: true
                  type: string
                - name: l
                  description: Max number of entities
                  in: query
                  required: true
                  type: integer
            tags:
                - Fees
            responses:
                200: 
                    description: See definition
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/MarketDataSubscriptionPlan'
    /tradovateSubscriptionPlan/find:
        get:
            description: Finds an entity of TradovateSubscriptionPlan type by its name
            operationId: findTradovateSubscriptionPlan
            security:
                - bearer_access_token: []
            parameters:
                - name: name
[...]
